@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./../assets/images/Page-4.png");
    background-size:  100vw 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
    user-select: none;
}


.welcome--text{
    font-family: 'vampire';
    font-size: 70px;
    letter-spacing: 8px;
    margin-top:128px ;
    margin-left: 20px;
}
.story--text{
    margin: 100px 200px 50px 200px;
    text-align: center;
}


.story--text>p{
    color: #FFF;
    font-family: Rufina;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4px;
    line-height: 50px;
}

.red{
    color: red;
}


.font{
    font-family: vampire;
    font-size: 60px;
}

img{
    position: relative;
    top: 180px;
    left: 736.5px;
    cursor: pointer;
}

img:active{
    filter: opacity(0.5);
    /* filter: drop-shadow(10px); */
    transform: translateY(7px);
}

@media (min-width: 500px) and (max-width: 1000px) and (orientation: landscape) {
    

    .welcome--text{
        font-family: 'vampire';
        font-size: 30px;
        letter-spacing: 1.4px;
        margin-top: 23px;
        margin-left: 20px;
    }
    .story--text{
        margin: 20px 20px 50px 20px;
        text-align: center;
    }
    
    
    .story--text>p{
        color: #FFF;
        font-family: Rufina;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1px;
        line-height: 20px;
    }
    
    .red{
        color: red;
    }
    
    .font{
        font-family: vampire;
        font-size: 25px;
    }
    
    img{
        position: relative;
        top: -20px;
        left: 320px;
        cursor: pointer;
        width: 150px;
    }
    
    img:active{
        filter: opacity(0.5);
        /* filter: drop-shadow(10px); */
        transform: translateY(7px);
    }
}